<div class="col-md-4">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group my-3 p-3 bg-white rounded box-shadow">
                {% for genre in genres %}
                    {% for item in genre %}
                        <div>
                            <div class="checkbox">
                                <label for="checkboxes-{{ item.id }}">
                                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="{{ item.id }}">
                                    {{ item.name }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </fieldset>
    </form>
</div>
